<h1>我的Pinkoi</h1>
  
  
<body>
<div class='grid grid-cols-3'>
    <div class='grid grid-cols-2'>
        <div>
          hhhhhhhh
        </div>
        <div>
            <h3>name</h3>
            <p>1</p>
            <p>2</p>
            <p>3</p>
        </div>
    </div>

</div>


<div class=""><h3>會員專區</h3></div>
<div class="flex flex-row w-2/5">
  
  <div class="h-32 card  rounded-box place-items-center">
     <h3>當年度升級系統</h3>
     <p>123</p>

  </div> 
  <div class="divider divider-vertical"></div> 
  <div class="grid flex-grow h-32 card bg-base-300 rounded-box place-items-center">
     <h3>下個年度等級任務</h3> 
  </div>
</div>
</body>



